html,body{
    margin :0;
    padding :0;
   font-family: 'Rubik',sans-serif;
   color: #432000;
    
   user-select: none;
}

.container{
    display: flex;
    flex-direction: column;
    max-width:320px;
    margin:30px auto;

}
img{
   width: 150px;
   margin :0 auto ;
}

input{
    color: #5b5a5a;
    background-color: #f8f4e4;
 border: 0;
 padding: 15px;
 border-radius: 8px;
 font-size: 20px;
 text-align : center;
 font-family: 'Rubik',sans-serif;
 margin :10px;
}

button{
 color :#fffdfd;
 background-color: #894158;
 border: 0;
 padding: 15px;
 border-radius: 8px;
 font-size: 20px;
 text-align : center;
 font-family: 'Rubik',sans-serif;
 margin: 10px;
}
button:hover{
    background-color: #432000;
    cursor: pointer;
}
ul {
    display: flex;
    flex-wrap: wrap;
    gap : 20px ;
    list-style-type: none;
    padding: 0;
    margin: 15px;
    font-family: 'Rubik',sans-serif;
    font-size: 20px;
    color: rgb(149, 147, 147);
}
ul li{
    background-color: #f8f4e4;
    padding: 15px;
     box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    flex-grow : 1;
    text-align: center;
    font-size: 18px;
    font-family: 'Rubik',sans-serif;
    color: rgb(48, 47, 47);

}

ul li:hover{
    background-color: #FFECC7;
    cursor: pointer;

}

 